name: Daily SEO Patro Update  

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write # Allows GitHub Action to save files back to repo
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Generate SEO Pages
        run: python 100.py 

      - name: Commit and Push Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # This will add the new 'nepali-date' folder and all updated files
          git add .
          # The "exit 0" ensures the workflow doesn't fail if there are no changes
          git commit -m "Auto Update Patro: $(date)" || exit 0
          git push
